/* ------------------------------- HeroSection ------------------------------ */
.bgimg-hero {
  background-image: url("../../images/main_pages/Hero_home__desktop_.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 4rem;

  @media screen and (max-width: 800px) {
    background-image: url(../../images/main_pages/home-mobile-desktop.jpg);
  }
}

.hero {
  text-align: center;
  color: $primary-color;
  height: 50vh;
  position: relative !important;

  &__main-heading {
    font-size: 7rem !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 8rem !important;
    padding-bottom: 5rem;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 500ms infinite;

    animation: glitch 500ms infinite;

    @media screen and (max-width: 400px) {
      font-size: 8rem !important;
      width: 90%;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #ffffff;
    }
  }

  .hero__main-heading span {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__sub-heading {
    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 400px) {
      width: 80%;
      position: absolute;
      left: 50%;
      top: 70%;
    }
  }

  &__btn {
    position: absolute;
    right: 10rem;
    bottom: -20rem;
    z-index: 1;

    @media screen and (max-width: 400px) {
      position: absolute;
      left: 10rem;
      top: 100rem;
    }
  }
}

/* -------------------------------- Animation ------------------------------- */

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

/* -------------------------------- artisian -------------------------------- */
.artisian {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #f3efde;
  height: 106vh;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 1500px) {
    height: 100vh;
  }

  @media screen and (max-width: 1200px) {
    height: 80vh;
  }

  @media screen and (max-width: 1024px) {
    display: block;
    position: relative;
    color: #ffffff;
    height: 110vh;
  }

  @media screen and (max-width: 400px) {
    padding-top: 7rem;
  }

  &__heading {
    font-size: 5rem;
    font-family: Ubuntu Mono;
    margin: 0;
    padding-top: 8rem;
    padding-left: 20rem;

    @media screen and (max-width: 1200px) {
      padding-left: 15rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 7rem;
    }

    @media screen and (max-width: 400px) {
      font-size: 8rem;
    }
  }

  &__subheading {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 20rem;
    width: 3rem;
    text-decoration: underline 2px;

    @media screen and (max-width: 1200px) {
      padding-left: 15rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 400px) {
      font-size: 3rem;
    }
  }

  &__para {
    font-size: 2.5rem;
    margin-top: 0;
    padding-top: 2rem;
    padding-left: 20rem;
    width: 49rem;
    margin-bottom: 9rem;

    @media screen and (max-width: 1500px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 1200px) {
      padding-left: 15rem;
    }

    @media screen and (max-width: 1024px) {
      padding-top: 5rem;
      font-size: 4rem;
      width: 72rem;
      margin-bottom: 10rem;
    }
  }

  &__img {
    height: 100%;

    @media screen and (max-width: 1024px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0.98;
      width: 100%;
      filter: brightness(70%);
    }
  }

  &__btn {
    color: #000 !important;
    border-color: #b6b6b693 !important;

    @media screen and (max-width: 1024px) {
      color: #ffffff !important;
    }

    &:hover {
      transition: all 0.3s;
      border-color: #ffffff !important;
    }
  }
}

.btn-explore {
  margin-left: 20rem;

  @media screen and (max-width: 1200px) {
    margin-left: 15rem;
  }
  @media screen and (max-width: 400px) {
    position: absolute;
    left: 30%;
  }
}

/* ------------------------------ new arrivals ----------------------------- */

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.newarrival {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @media screen and (max-width: 400px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &__horizontal {
    margin-top: 5rem;
    margin-left: 5rem;
    width: 30rem;
    height: 18rem;
  }

  &__heading {
    margin-top: 5rem;
    margin-left: 14rem;
    font-size: 2.5rem;
    color: #252525da;
    font-family: "Ubuntu Mono";
    font-size: 3rem;
    border-bottom: 0.2rem solid #8d6b51bb;
    width: 18rem;

    @media screen and (max-width: 1024px) {
      font-size: 10rem;
      margin-left: 4rem;
    }

    @media screen and (max-width: 400px) {
      font-size: 8rem;
      margin-left: 4rem;
    }
  }
}

.btn-arrival {
  margin: 2rem 0 1rem 5rem;
  padding: 2rem 5rem;
  margin-bottom: 5rem;
}

/* ---------------------------- caterpillar section --------------------------- */

.section-caterpillar {
  background-image: url(/images/caterpillar/background.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 105vh;
  background-size: cover;
  overflow: hidden;
}

.caterpillar-button {
  position: absolute;
  left: 20rem;
  top: 10rem;
  z-index: 1;

  @media screen and (max-width: 1200px) {
    top: 75rem;
    left: 35rem;
  }

  @media screen and (max-width: 400px) {
    top: 100rem;
    left: 20rem;
  }
}

.caterpillar__btn {
  @media screen and (max-width: 1200px) {
    font-size: 4rem !important;
    padding: 5rem 15rem !important;
  }
}

.scribble-left {
  justify-content: left;
  position: absolute;
  left: 90rem;
  top: 60rem;
  width: 35rem;

  @media screen and (max-width: 1880px) {
    top: 54rem;
    left: 72rem;
  }

  @media screen and (max-width: 1712px) {
    top: 50rem;
    left: 42rem;
  }

  @media screen and (max-width: 1400px) {
    top: 55rem;
    left: 53rem;
  }

  @media screen and (max-width: 1200px) {
    top: 5rem;
    left: 12rem;
  }

  @media screen and (max-width: 400px) {
    top: 13rem;
    left: 0rem;
    width: 20rem;
  }
}

.heading__caterpillar {
  font-family: "Ubuntu Mono";
  font-size: 12rem;
  position: absolute;
  left: 100rem;
  top: 55rem;

  @media screen and (max-width: 1880px) {
    top: 50rem;
    left: 80rem;
  }

  @media screen and (max-width: 1712px) {
    top: 46rem;
    left: 50rem;
  }

  @media screen and (max-width: 1400px) {
    top: 50rem;
    left: 61rem;
  }

  @media screen and (max-width: 1200px) {
    top: 0rem;
    left: 20rem;
  }

  @media screen and (max-width: 400px) {
    top: 7rem;
    left: 5rem;
    font-size: 10rem;
  }
}

.scribble-right {
  justify-content: right;
  position: absolute;
  left: 135rem;
  top: 56rem;
  width: 35rem;

  @media screen and (max-width: 1880px) {
    top: 50rem;
    left: 130rem;
  }

  @media screen and (max-width: 1712px) {
    top: 46rem;
    left: 100rem;
  }

  @media screen and (max-width: 1400px) {
    top: 50rem;
    left: 110rem;
  }

  @media screen and (max-width: 1200px) {
    top: 0rem;
    left: 69rem;
  }

  @media screen and (max-width: 400px) {
    top: 15rem;
    left: 52rem;
    width: 20rem;
  }
}

/* ---------------------------- shelfmate section --------------------------- */

.Shelfmate {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #f3efde;
  height: 100vh;
  overflow: hidden;
  padding: 5rem;
  position: relative;

  @media screen and (max-width: 1500px) {
    color: #f3efde;
    display: block;
    margin-top: -5rem;
    height: 82vh;
    padding: 0rem;
  }

  @media screen and (max-width: 1000px) {
    height: 100vh;
    padding: 0rem;
  }

  &__heading {
    font-size: 5rem;
    font-family: Ubuntu Mono;
    margin: 0;
    padding-top: 5rem;
    padding-left: 20rem;

    @media screen and (max-width: 1500px) {
      font-size: 8rem;
      position: absolute;
      top: 15rem;
      left: 3rem;
    }

    @media screen and (max-width: 1000px) {
      font-size: 7rem;
      padding-top: 8rem;
      padding-left: 10rem;
    }

    @media screen and (max-width: 550px) {
      font-size: 5rem !important;
    }

    @media screen and (max-width: 400px) {
      font-size: 8rem;
    }
  }

  &__subheading {
    text-decoration: underline 2px;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 20rem;
    width: 49rem;

    @media screen and (max-width: 1500px) {
      position: absolute;
      top: 30rem;
      left: 3rem;
      font-size: 3rem;
      text-decoration: underline 1px;
      width: 70rem;
    }

    @media screen and (max-width: 1000px) {
      font-size: 3rem;
      top: 35rem;
      left: -6rem;
      text-decoration: underline 1px;
      width: 70rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 2.5rem !important;
    }
  }

  &__para {
    font-size: 2.5rem;
    margin-top: 0;
    padding-top: 2rem;
    padding-left: 20rem;
    width: 49rem;
    margin-bottom: 9rem;

    @media screen and (max-width: 1500px) {
      top: 55rem;
      left: 3rem;
      font-size: 4rem;
      width: 90rem;
      position: absolute;
    }

    @media screen and (max-width: 1000px) {
      font-size: 4rem;
      width: 90rem;
      top: 55rem;
      left: -6rem;
    }

    @media screen and (max-width: 450px) {
      width: 70rem;
      font-size: 2.8rem !important;
    }

    @media screen and (max-width: 400px) {
      width: 70rem;
      font-size: 3.4rem;
    }
  }

  &__btn {
    color: #2726264a;
    left: 40%;

    &:hover {
      transition: all 0.3s;
      border-color: #ffffff !important;
    }

    @media screen and (max-width: 1500px) {
      border-color: #ffffff !important;
      color: #f3efde;
      top: 120rem;
      left: 30%;
    }

    @media screen and (max-width: 1000px) {
      position: absolute;
      // bottom: 27rem;
    }

    @media screen and (max-width: 500px) {
      position: absolute;
      // bottom: 35rem;
      color: #f3efde;
    }

    @media screen and (max-width: 400px) {
      position: absolute;

      // bottom: 35rem;
      color: #f3efde;
    }

    @media screen and (max-height: 670px) {
      position: absolute;
      // bottom: 5rem;
      color: #f3efde;
    }
    @media screen and (max-height: 750px) {
      position: absolute;
      // top: 95rem;
      bottom: 8rem;
      color: #f3efde;
    }
  }

  &__page-video {
    width: 100%;
    overflow: hidden;

    @media screen and (max-width: 1500px) {
      position: absolute;
    }
    @media screen and (max-width: 200px) {
      width: 80vh;
    }
  }
}

.btn-explore {
  margin-left: 0;
}
