/* ------------------------------- HeroSection ------------------------------ */
.bgimg-hero {
  background-image: url("../../images/Hero_home__desktop_.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 4rem;

  @media screen and (max-width: 800px) {
    background-image: url(../../images/home-mobile-desktop.jpg);
  }
}

.hero {
  text-align: center;
  color: $primary-color;
  height: 50vh;
  position: relative !important;

  &__main-heading {
    font-size: 7rem !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5rem;

    @media screen and (max-width: 400px) {
      font-size: 8rem !important;
      width: 90%;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #ffffff;
    }
  }

  &__sub-heading {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 400px) {
      width: 80%;
      position: absolute;
      left: 50%;
      top: 62%;
    }
  }

  &__btn {
    position: absolute;
    right: 10rem;
    bottom: -20rem;
    z-index: 1;

    @media screen and (max-width: 400px) {
      position: absolute;
      left: 10rem;
      top: 100rem;
    }
  }
}

/* -------------------------------- artisian -------------------------------- */
.artisian {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #f3efde;
  height: 106vh;
  overflow: hidden;

  @media screen and (max-width: 1500px) {
    height: 100vh;
  }

  @media screen and (max-width: 1200px) {
    height: 80vh;
  }

  @media screen and (max-width: 1024px) {
    display: block;
    position: relative;
    color: #ffffff;
  }

  @media screen and (max-width: 400px) {
    padding-top: 7rem;
  }

  &__heading {
    font-size: 5rem;
    font-family: Ubuntu Mono;
    margin: 0;
    padding-top: 8rem;
    padding-left: 20rem;

    @media screen and (max-width: 1200px) {
      padding-left: 15rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 7rem;
    }

    @media screen and (max-width: 400px) {
      font-size: 8rem;
    }
  }

  &__subheading {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 20rem;
    width: 3rem;

    @media screen and (max-width: 1200px) {
      padding-left: 15rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 400px) {
      font-size: 3rem;
    }
  }

  &__para {
    font-size: 2.5rem;
    margin-top: 0;
    padding-top: 2rem;
    padding-left: 20rem;
    width: 49rem;
    margin-bottom: 9rem;

    @media screen and (max-width: 1500px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 1200px) {
      padding-left: 15rem;
    }

    @media screen and (max-width: 1024px) {
      padding-top: 5rem;
      font-size: 4rem;
      width: 72rem;
      margin-bottom: 10rem;
    }
  }

  &__img {
    height: 100%;

    @media screen and (max-width: 1024px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0.98;
      width: 100%;
      filter: brightness(70%);
    }
  }

  &__btn {
    color: #000 !important;
    border-color: #b6b6b693 !important;

    @media screen and (max-width: 1024px) {
      color: #ffffff !important;
    }

    &:hover {
      transition: all 0.3s;
      border-color: #ffffff !important;
    }
  }
}

.btn-explore {
  margin-left: 20rem;

  @media screen and (max-width: 1200px) {
    margin-left: 15rem;
  }
}

/* ------------------------------ new arrivals ----------------------------- */

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.newarrival {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @media screen and (max-width: 400px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &__horizontal {
    margin-top: 5rem;
    margin-left: 5rem;
    width: 30rem;
    height: 18rem;
  }

  &__heading {
    margin-top: 5rem;
    margin-left: 14rem;
    font-size: 2.5rem;
    color: #252525da;
    font-family: "Ubuntu Mono";
    font-size: 3rem;
    border-bottom: 0.2rem solid #8d6b51bb;
    width: 18rem;

    @media screen and (max-width: 1024px) {
      font-size: 10rem;
      margin-left: 4rem;
    }

    @media screen and (max-width: 400px) {
      font-size: 8rem;
      margin-left: 4rem;
    }
  }
}

.btn-arrival {
  margin: 2rem 0 1rem 5rem;
  padding: 2rem 5rem;
  margin-bottom: 5rem;
}

/* ---------------------------- shelfmate section --------------------------- */

.section-shelfmate {
  background-image: url(/images/shelfmate/background.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 105vh;
  background-size: cover;
  overflow: hidden;
}

.shelfmate-button {
  position: absolute;
  left: 20rem;
  top: 10rem;
  z-index: 1;

  @media screen and (max-width: 1200px) {
    top: 75rem;
    left: 45rem;
  }

  @media screen and (max-width: 400px) {
    top: 100rem;
    left: 20rem;
  }
}

.shelfmate__btn {
  @media screen and (max-width: 1200px) {
    font-size: 4rem !important;
    padding: 5rem 15rem !important;
  }
}

.scribble-left {
  justify-content: left;
  position: absolute;
  left: 100rem;
  top: 60rem;
  width: 35rem;

  @media screen and (max-width: 1880px) {
    top: 54rem;
    left: 80rem;
  }

  @media screen and (max-width: 1712px) {
    top: 50rem;
    left: 52rem;
  }

  @media screen and (max-width: 1400px) {
    top: 55rem;
    left: 63rem;
  }

  @media screen and (max-width: 1200px) {
    top: 5rem;
    left: 23rem;
  }

  @media screen and (max-width: 400px) {
    top: 13rem;
    left: 0rem;
    width: 20rem;
  }
}

.heading__shelfmate {
  font-family: "Nato Sans JP";
  font-size: 12rem;
  position: absolute;
  left: 110rem;
  top: 55rem;

  @media screen and (max-width: 1880px) {
    top: 50rem;
    left: 90rem;
  }

  @media screen and (max-width: 1712px) {
    top: 46rem;
    left: 60rem;
  }

  @media screen and (max-width: 1400px) {
    top: 50rem;
    left: 71rem;
  }

  @media screen and (max-width: 1200px) {
    top: 0rem;
    left: 30rem;
  }

  @media screen and (max-width: 400px) {
    top: 7rem;
    left: 5rem;
    font-size: 10rem;
  }
}

.scribble-right {
  justify-content: right;
  position: absolute;
  left: 154rem;
  top: 56rem;
  width: 35rem;

  @media screen and (max-width: 1880px) {
    top: 50rem;
    left: 134rem;
  }

  @media screen and (max-width: 1712px) {
    top: 46rem;
    left: 104rem;
  }

  @media screen and (max-width: 1400px) {
    top: 50rem;
    left: 115rem;
  }

  @media screen and (max-width: 1200px) {
    top: 0rem;
    left: 74rem;
  }

  @media screen and (max-width: 400px) {
    top: 15rem;
    left: 52rem;
    width: 20rem;
  }
}
