.footer {
  width: 100%;
  background-color: #000000b6;
  color: #ebe7d9;
  display: flex;
  font-size: 2rem;
  text-decoration: none;
  // overflow: hidden;

  @media screen and (max-width: 1024px) {
    height: 50vh;
  }

  @media screen and (max-width: 800px) {
    height: 55vh;
  }

  &__list {
    margin-left: 10%;
    margin-right: 10%;

    @media screen and (max-width: 800px) {
      margin-left: 2%;
      margin-right: 5%;
    }
  }

  &__list-item {
    list-style-type: none;
    padding-top: 4rem;
    @media screen and (max-width: 1025px) {
      padding-bottom: 15rem;
    }

    @media screen and (max-width: 800px) {
      padding-top: 5rem;
    }

    @media screen and (max-width: 400px) {
      padding-bottom: 2rem;
    }
  }
  &__list-link {
    padding-top: 2rem;
  }

  &__list-link:hover {
    text-decoration: underline 1px;
  }

  &-content {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 4rem;
    border-bottom: 1px solid;
    width: 14rem;
  }

  &__left-content {
    width: 11rem;
  }

  &__right-content {
    width: 11rem;
  }
}
