.btn-primary {
  text-align: center;
  font-size: 2.5rem;
  border: solid 1px #00000083;
  padding: 2rem 7rem;
  color: #252525da;
  font-family: "Ubuntu Mono";
}

.btn-secondary {
  
  text-align: center;
  font-size: 2.5rem;
  color: #f3efde;
  border: solid 2px #f3efde;
  padding: 3rem 10rem;
  font-family: "Ubuntu Mono";
}
