.btn-primary {
  text-align: center;
  font-size: 2.5rem;
  color: #f3efde;
  border: solid 2px #f3efde;
  padding: 3rem 10rem;
  font-family: "Ubuntu Mono";
  position: relative;
  transition: 0.5s;
  
 

  @media screen and (max-width: 1024px) {
    font-size: 5rem !important;
  }


  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #8d6b51bb;
    transition: 0.5s;
    top: 0;
    border-radius: 1rem;
    z-index: -1;
  }

  &:hover {
    border-radius: 1rem;
    color: #ffffff !important;
  }

  &:hover::before {
    height: 100%;
  }
}

.btn-secondary {
  text-align: center;
  font-size: 2.5rem;
  border: solid 1px #00000083;
  padding: 2rem 7rem;
  color: #252525da;
  font-family: "Ubuntu Mono";
  transition: color 0.3s ease-out;

  &:hover {
    color: #8d6b51bb;
    border-color: #8d6b51bb;
    border-radius: 0.5rem;
  }
}

.btn-tertiary {
  text-align: center;
  font-size: 2.5rem;
  border: solid 1px #00000083;
  padding: 2rem 7rem;
  color: #252525da;
  font-family: "Ubuntu Mono";
  
  @media screen and (max-width: 1024px) {
    font-size: 3rem;
  }

  &:hover {
    text-decoration: none;
  }
}

.btn__tertiary-transition {
  display: inline-flex;
  color: #8d6b51e8;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.btn__tertiary-transition::before,
.btn__tertiary-transition span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0.07, 0.07, 1);
  transition-duration: 0.4s;
}

.btn__tertiary-transition:hover {
  background-color: #8d6b51cb;
}

.btn__tertiary-transition:hover span {
  transform: translateY(-400%) scale(-0.1, 0);
}

.btn__tertiary-transition::before {
  content: attr(data-sm-link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 0);
  transform: translateY(500%) scale(-0.1, 0);
}

.btn__tertiary-transition:hover::before {
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}
